﻿@using Login_MVC_.Models
@model Login_MVC_.Models.Login

@{
    ViewBag.title = "login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

@Html.AntiForgeryToken()

<!DOCTYPE html>
<html>

<body>
    <div class="form">
        @*<h1><font color="#00000">TDSi - Gardis Test Platform</font></h1>*@
        <div class="form-content">
            <form action="#" method="post">
                <div class="form-info">
                    <h2>Login</h2>
                </div>
                <div class="Email-w3l">
                    <span class="i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <input class="Email" type="name" name="UserName" placeholder="User Name" required="">
                </div>
                <div class="pass-w3l">
                    <!---728x90--->
                    <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                    <input class="pass" type="password" name="Password" placeholder="Password" required="">
                </div>
                <div class="form-check">
                    <div class="left">
                        <input type="checkbox" value="Remember me">Remember me
                    </div>
                    <div class="right">
                        <a href="/ForgotPassword/ForgotPassword">Forgot Password?</a>
                    </div>
                    <div class="left">
                        <a href="/Registration/Register">Sign Up</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="submit-agileits">
                    <input class="login" type="submit" value="login">
                </div>
                <h2><font color="red"><centre>@ViewBag.fail</centre></font></h2>
                <h2><font color="green"><centre>@ViewBag.pass</centre></font></h2>
                @using (Ajax.BeginForm("Index", "Account", new AjaxOptions
                {
                    HttpMethod = "POST",
                }))
                {
                }
            </form>
        </div>
    </div>

    <!---728x90--->
   @* <footer><font color="#00000">&copy; 2019 TDSi. All Rights Reserved | v1.0.0.4 Designed by Development Team</font></footer>*@
    <!---728x90--->
</body>
</html>