﻿@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<body>
<div class="form">
    <div class="form-content">
        <form action="#" method="post">
            <div class="form-info">
                <h2>Forgot Password</h2>
            </div>
            <h2><font color="#FFFFF">Enter the User Name you wish to reset password for.</font></h2>
            <div class="Email-w3l">
                <span class="i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <input class="Email" type="name" name="UserName" placeholder="User Name" required="">
            </div>
            <div class="submit-agileits">
                <input class="login" type="submit" value="Recover" OnClientClick="~/Login/Logout">
            </div>
            @Html.AntiForgeryToken()
            <h2><font color="green"><centre>@ViewBag.pass</centre></font></h2>
            <h2><font color="red"><centre>@ViewBag.fail</centre></font></h2>
        </form>
    </div>
</div>
<!---728x90--->
@*<footer><font color="#00000">&copy; 2019 TDSi. All rights reserved | Designed by Development Team</font></footer>*@
<!---728x90--->
</body>
<!--</html>-->
