﻿@model Login_MVC_.Models.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<body>
    <div class="form">
        <div class="form-content">
            <form action="#" method="post">
                <div class="form-info">
                    <h2>Reset Password</h2>
                </div>
                <div class="Email-w3l">
                    <span class="i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <input class="Email" type="name" name="UserName" placeholder="User Name" required="">
                </div>
                <div class="pass-w3l">
                    <!---728x90--->
                    <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                    <input class="pass" type="password" name="Password" placeholder="New Password" required="">
                </div>
                <div class="pass-w3l">
                    <!---728x90--->
                    <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                    <input class="pass" type="password" name="ConfirmPassword" placeholder="Confirm Password" required="">
                </div>
                <div class="submit-agileits">
                    <input class="login" type="submit" value="Reset">
                </div>
                <h2><font color="green"><centre>@ViewBag.pass</centre></font></h2>
                <h2><font color="red"><centre>@ViewBag.fail</centre></font></h2>
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
    <!---728x90--->
    @*<footer><font color="#00000">&copy; 2019 TDSi. All rights reserved | Designed by Development Team</font></footer>*@
    <!---728x90--->
</body>
<!--</html>-->
