﻿
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



    @Html.AntiForgeryToken()

@*</head>*@
<body>
    <div class="form">
        @*<h1><font color="#00000">Reset Password</font></h1>*@
        <div class="form-content">
            <form action="~/Account"> @*method="post">*@
                <div class="form-info">
                    <h2>Thank you</h2>
                </div>
                <h2><font color="#FFFFF">New Password has been created successfully and sent to your Email address. Click button below to redirect website to the Login Page.</font></h2>
                <div class="submit-agileits">
                    @*<a href="~/Login/Login"><input class="login" type="submit" value="Login"/></a>*@
                    @*<input type="submit" class="login" href=""/>*@
                    @*<a href="~/Account" class="login">Login</a>*@

                    <input class="login" type="submit" value="login">
                </div>
            </form>
        </div>
    </div>
    <!---728x90--->
    <footer><font color="#00000">&copy; 2019 TDSi. All rights reserved | Designed by Development Team</font></footer>
    <!---728x90--->
</body>
<!--</html>-->
