﻿
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<h4><font color="white">Download Garis Beta - Release 2 Development Branch</font></h4>
<p><a href="DownloadRelease2Development" class="btn btn-primary btn-lg">Download</a></p>
<br/>
<h4><font color="white">Download Gardis Release - Master Branch</font></h4>
<p><a href="DownloadGardisRelease" class="btn btn-primary btn-lg">Download</a></p>