﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/loginStyle.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!---728x90--->
    <footer><font color="#00000">&copy; 2019 TDSi. All Rights Reserved | v1.0.0.4 Designed by Development Team</font></footer>
    <!---728x90--->
</body>
</html>