﻿@{
    ViewBag.Title = "Changelog";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <br>
    <h3>
        <font color="#FFFFFF">Version v1.0.0.0</font>
    </h3><br />
    <a>
        <font color="#FFFFFF">Login Page Created</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Registration Page Created</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Download Page Created</font>
    </a><br />
    <a>
        <font color="#FFFFFF">User exists function</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Confirm password function</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Redirect to Login page after registration</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Sent Email to new registered user</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Added Continous integration sites links</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Added link to Product Registration Site</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Added link to Redmine site</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Added link to Bugzilla site</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Created Microsoft SQL Database</font>
    </a><br />
    <br>
    <h3>
        <font color="#FFFFFF">Version v1.0.0.1</font>
    </h3><br />
    <a>
        <font color="#FFFFFF">Changelog Page Created</font>
    </a><br />
    <br />
    <h3>
        <font color="#FFFFFF">Version v1.0.0.2</font>
    </h3><br />
    <a>
        <font color="#FFFFFF">Added API</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Latest commits are displayed (reading from Bitbucket)</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Current logged user name displayed</font>
    </a><br />
    <br />
    <h3>
        <font color="#FFFFFF">Version v1.0.0.3</font>
    </h3><br />
    <a>
        <font color="#FFFFFF">Added Reset Password with Token function</font>
    </a><br />
    <br />
    <h3>
        <font color="#FFFFFF">Version v1.0.0.4</font>
    </h3><br />
    <a>
        <font color="#FFFFFF">Added User Account Site</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Added Update Password function</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Added Upload Photo Function</font>
    </a><br />
    <a>
        <font color="#FFFFFF">Cleaned code and updated css folder</font>
    </a><br />
</body>
</html>