﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/userSettings.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <!-- Trigger/Open The Modal -->
    <button id="UpdatePassword" onclick="btn.onclick()">Change Password</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <p>Change your current password</p>
            <br />
            <div id="wrapperDiv">
                <section>
                    <p>Old Password</p>
                    <div class="pass-w3l">
                        <!---728x90--->
                        <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                        <input class="pass" type="password" name="Password" placeholder="Old Password" required="">
                    </div>
                </section>
                <section>
                    <p>New Password</p>
                    <div class="pass-w3l">
                        <!---728x90--->
                        <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                        <input class="pass" type="password" name="Password" placeholder="Password" required="">
                    </div>
                </section>
                <section>
                    <p>Confirm Password</p>
                    <div class="pass-w3l">
                        <!---728x90--->
                        <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                        <input class="pass" type="password" name="ConfirmPassword" placeholder="Confirm Password" required="">
                    </div>
                </section>
                <br />
                <div class="submit-agileits" p align="right">
                    <input class="fa-save" type="submit" value="Save">
                </div>
            </div>
        </div>
    </div><br />
    <br />
    <script src="/js/userSettings.js" type="text/javascript"></script>

    <button id="myBtn1" onclick="btn1.onclick()">Upload Photo</button>
    <!-- The Modal -->
    <div id="myModal1" class="modal1">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close1">&times;</span>

            <p>Upload Photo</p>
            <br />
            <br />
            <div class="submit-agileits" p align="right">
                <input class="login" type="submit" value="Save">
            </div>
        </div>
    </div><br />
    <br />
    <script src="/js/userSettings2.js" type="text/javascript"></script>
    <h2><font color="red"><centre>@ViewBag.fail</centre></font></h2>
    <h2><font color="green"><centre>@ViewBag.pass</centre></font></h2>
</body>
</html>
