﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<html>
<head>
    <body>
        <div>
            <h2>
                <font color="#FFFFFF">Team City - Tests Results</font>
            </h2>
        </div>
        <br>
        <div>
            <h4>
                <font color="#FFFFFF">Windows 7 Pro</font>
            </h4>
            <a href="http://192.168.5.80:8111/viewType.html?buildTypeId=Gardis_Windows7&guest=1">
                <img src="http://192.168.5.80:8111/app/rest/builds/buildType:(id:Gardis_Windows7)/statusIcon" />
            </a>
            <br />
            <font size="2">
                <a>
                    <font color="BCDC05">
                        @Model[2].name<br />
                    </font>
                    <font color="#FFFFFF">
                        @Model[2].hash.Substring(0, 7)<br />
                        @Model[2].message<br />
                        @Model[2].date
                    </font>
                </a>
            </font>
        </div><br />
        <br />
        <div>
            <h4>
                <font color="#FFFFFF">Windows 10 Pro</font>
            </h4>
            <a href="http://192.168.5.80:8111/viewType.html?buildTypeId=GardisWin10Ent_Win10Ent&guest=1">
                <img src="http://192.168.5.80:8111/app/rest/builds/buildType:(id:GardisWin10Ent_Win10Ent)/statusIcon" />
            </a>
            <br />
            <font size="2">
                <a>
                    <font color="BCDC05">
                        @Model[2].name<br />
                    </font>
                    <font color="#FFFFFF">
                        @Model[2].hash.Substring(0, 7)<br />
                        @Model[2].message<br />
                        @Model[2].date
                    </font>
                </a>
            </font>
        </div>
        <br />
        <br />
        <div>
            <h4>
                <font color="#FFFFFF">Windows 2012 Server</font>
            </h4>
            <a href="http://192.168.5.80:8111/viewType.html?buildTypeId=GardisSvr2012_Svr2012&guest=1">
                <img src="http://192.168.5.80:8111/app/rest/builds/buildType:(id:GardisSvr2012_Svr2012)/statusIcon" />
            </a>
            <br />
            <font size="2">
                <a>
                    <font color="BCDC05">
                        @Model[2].name<br />
                    </font>
                    <font color="#FFFFFF">
                        @Model[2].hash.Substring(0, 7)<br />
                        @Model[2].message<br />
                        @Model[2].date
                    </font>
                </a>
            </font>
        </div>
        <br />
        <br />
        <div>
            <h4>
                <font color="#FFFFFF">Windows 2012 Server - Gardis Release - Same as Windows 2012 Server </font>
            </h4>
            <div>
            </div>
            <a href="http://192.168.5.80:8111/viewType.html?buildTypeId=GardisSvr2012_Svr2012&guest=1">
                <img src="http://192.168.5.80:8111/app/rest/builds/buildType:(id:GardisSvr2012_Svr2012)/statusIcon" />
            </a>
            <br />
            <font size="2">
                <a>

                    <font color="BCDC05">
                        @Model[0].name<br />
                    </font>
                    <font color="#FFFFFF">
                        @Model[0].hash.Substring(0, 7)<br />
                        @Model[0].message<br />
                        @Model[0].date
                    </font>
                </a>
            </font>
        </div>
        <br />
        <br />
        <div>
            <h4>
                <font color="#FFFFFF">Build Installshield Installer</font>
            </h4>
            <a href="http://192.168.5.80:8111/viewType.html?buildTypeId=GardisInstallshieldBuild_WindowsServer2012&guest=1">
                <img src="http://192.168.5.80:8111/app/rest/builds/buildType:(id:GardisInstallshieldBuild_WindowsServer2012)/statusIcon" />
            </a>
        </div>
    </body>
</html>

